In [225]:
from causallib.datasets import load_nhefs
from causallib.estimation import IPW
from causallib.evaluation import evaluate
from sklearn.linear_model import LogisticRegression
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np
import missingno as msno
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [226]:
df = pd.read_csv('test.csv',low_memory=False)

In [227]:
df = df.replace("", np.nan)

In [228]:
df = df.replace(" ", np.nan)

In [229]:
df.isnull().sum().sum()

1628139

In [230]:
df.head()

,ID,Wgt_9yr,Gross_9yr,Partner,Int_type,MMA2,MMA3,MMA4,mma5ap1,MMagep1,...,mathclass,mathatt,mathcorr,mathpct,mathsls,mathslsse,tchonchild,tchonself,prin,Drum
0,1000,0.298201,1.966325,0,2,2,1,2,2,32,...,2,30,5,16.67,-2.706493,.384025,1,1,1,1
1,2000,1.854868,12.230916,0,2,2,1,2,2,45,...,2,30,8,26.67,-2.304101,.357167,1,1,1,1
2,3000,1.076434,7.097959,0,2,2,1,2,2,29,...,3,25,13,52,-.76845,.3557,1,1,1,1
3,4000,0.859508,5.667559,0,2,2,1,2,2,48,...,3,25,9,36,-1.257998,.358395,1,1,1,1
4,5000,0.889420,5.864798,0,2,2,1,2,2,33,...,3,25,22,88,1.021827,.49471,1,1,1,1

In [231]:
# msno.matrix(df)

In [232]:
# msno.heatmap(df)

In [233]:
columns_without_missing_values = df.columns[df.isnull().sum() == 0]

In [234]:
len(columns_without_missing_values)

189

In [235]:
columns_with_missing_values = df.columns[df.isnull().sum() >0]

In [236]:
len(columns_with_missing_values)

661

In [237]:
df

,ID,Wgt_9yr,Gross_9yr,Partner,Int_type,MMA2,MMA3,MMA4,mma5ap1,MMagep1,...,mathclass,mathatt,mathcorr,mathpct,mathsls,mathslsse,tchonchild,tchonself,prin,Drum
0,1000,0.298201,1.966325,0,2,2,1,2,2,32,...,2,30,5,16.67,-2.706493,.384025,1,1,1,1
1,2000,1.854868,12.230916,0,2,2,1,2,2,45,...,2,30,8,26.67,-2.304101,.357167,1,1,1,1
2,3000,1.076434,7.097959,0,2,2,1,2,2,29,...,3,25,13,52,-.76845,.3557,1,1,1,1
3,4000,0.859508,5.667559,0,2,2,1,2,2,48,...,3,25,9,36,-1.257998,.358395,1,1,1,1
4,5000,0.889420,5.864798,0,2,2,1,2,2,33,...,3,25,22,88,1.021827,.49471,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8563,8564000,1.069985,7.055432,1,1,1,1,7,1,50,...,4,25,12,48,-.36249,.309341,0,0,1,1
8564,8565000,1.038689,6.849069,1,1,2,1,7,2,42,...,3,25,20,80,.3478,.41676,1,1,1,1
8565,8566000,0.369197,2.434466,1,3,2,1,7,2,50,...,3,25,18,72,.019648,.389646,1,1,1,1
8566,8567000,0.328610,2.166839,1,1,2,1,7,2,44,...,3,25,6,24,-1.759458,.381039,1,1,1,1
8567,8568000,0.200535,1.322316,1,1,2,1,7,2,44,...,3,25,9,36,-1.180241,.356702,0,0,1,1

In [238]:
derived_variable_labels = [
    "Partner in household",
    "Parent interviews completed in the household",
    "EASshyness",
    "EASemotionality",
    "EASactivity",
    "EASsociability",
    "Level of conflict with Primary Caregiver",
    "Level of closeness with Primary Caregiver",
    "Level of dependence with Primary Caregiver",
    "Level of conflict with Secondary Caregiver",
    "Level of closeness with Secondary Caregiver",
    "Level of dependence with Secondary Caregiver",
    "Dyadic adjustment score for primary carer",
    "Dyadic adjustment score for secondary carer",
    "Total depression score for Primary Caregiver",
    "Total depression score for Secondary Caregiver",
    "Depression status of Primary Caregiver",
    "Depression status of Secondary Caregiver",
    "MS yearly equivalent of regular payments from non-resident parent",
    "FS yearly equivalent of regular payments from non-resident parent",
    "Primary Caregiver Body Mass Index - derived from self-reported data",
    "Classification of Primary Caregiver Body Mass Index - derived from self-reported data",
    "Secondary Caregiver Body Mass Index - derived from self-reported data",
    "Classification of Secondary Caregiver Body Mass Index - derived from self-reported data",
    "Primary Caregiver Body Mass Index - derived from interviewer measurement data",
    "Classification of Primary Caregiver Body Mass Index - derived from interviewer measurement data",
    "Secondary Caregiver Body Mass Index - derived from interviewer measurement data",
    "Classification of Secondary Caregiver Body Mass Index - derived from interviewer measurement data",
    "Primary Caregiver Questionnaire Completed",
    "Primary Caregiver Sensitive Questionnaire Completed",
    "Secondary Caregiver Questionnaire Completed",
    "Secondary Caregiver Sensitive Questionnaire Completed",
    "Child Main Questionnaire Completed",
    "Child Core Sensitive Questionnaire Completed",
    "Child Completed Questionnaire on Main Carer",
    "Child Completed Questionnaire on Secondary Carer",
    "Child Completed Questionnaire on Main Carer Partner Child",
    "Completed Piers Harris",
    "Child is a non-singleton",
    "Drumcondra tests completed"
]

In [239]:
derived_variable_names = [
    "Partner",
    "Int_type",
    "EASshyness",
    "EASemotionality",
    "EASactivity",
    "EASsociability",
    "Pianta_conflict_PCG",
    "Pianta_positive_PCG",
    "Pianta_dependence_PCG",
    "Pianta_conflict_SCG",
    "Pianta_positive_SCG",
    "Pianta_dependence_SCG",
    "Dyadic_PCG",
    "Dyadic_SCG",
    "CES_TOT_PCG",
    "CES_TOT_SCG",
    "CESD_PCG",
    "CESD_SCG",
    "MS46",
    "FS46",
    "srBMI_pcg",
    "srBMI_pcg_rec",
    "srBMI_scg",
    "srBMI_scg_rec",
    "intBMI_pcg",
    "intBMI_pcg_rec",
    "intBMI_scg",
    "intBMI_scg_rec",
    "pcgmain",
    "pcgsens",
    "scgmain",
    "scgsens",
    "kidmain",
    "kidcore",
    "kidM",
    "kidD",
    "kidMP",
    "PiersHarris",
    "Nonsingleton",
    "Drum",
    "self-reported data",
    "Classification of Secondary Caregiver Body Mass Index - derived from self-reported data",
    "Primary Caregiver Body Mass Index - derived from interviewer measurement data",
    "Classification of Primary Caregiver Body Mass Index - derived from interviewer measurement data",
    "Secondary Caregiver Body Mass Index - derived from interviewer measurement data",
    "Classification of Secondary Caregiver Body Mass Index - derived from interviewer measurement data",
    "Primary Caregiver Questionnaire Completed",
    "Primary Caregiver Sensitive Questionnaire Completed",
    "Secondary Caregiver Questionnaire Completed",
    "Secondary Caregiver Sensitive Questionnaire Completed",
    "Child Main Questionnaire Completed",
    "Child Core Sensitive Questionnaire Completed",
    "Child Completed Questionnaire on Main Carer",
    "Child Completed Questionnaire on Secondary Carer",
    "Child Completed Questionnaire on Main Carer Partner Child",
    "Completed Piers Harris",
    "Child is a non-singleton",
    "Drumcondra tests completed"
]

In [240]:
missing_values = df.isnull().sum()

In [241]:
missing_values

ID              0
Wgt_9yr         0
Gross_9yr       0
Partner         0
Int_type        0
             ...
mathslsse     119
tchonchild      0
tchonself       0
prin            0
Drum            0
Length: 850, dtype: int64

In [242]:
total_rows = df.shape[0]

In [243]:
percentage_missing = (missing_values / total_rows) * 100

In [244]:
summary_df = pd.DataFrame({
    'Variable': missing_values.index,
    'Missing Values': missing_values.values,
    'Percentage Missing': percentage_missing.values
})

In [245]:
filtered_summary_df = summary_df[summary_df['Percentage Missing'] > 0]
# print(filtered_summary_df)

In [246]:
filtered_summary_df

      Variable  Missing Values  Percentage Missing
10    mma5rmp1            8568          100.000000
16    mma5rcp2            8568          100.000000
18     mma5ap3             222            2.591036
19     MMagep3             235            2.742764
20    mma5rmp3             222            2.591036
..         ...             ...                 ...
841    mathatt             119            1.388889
842   mathcorr             119            1.388889
843    mathpct             119            1.388889
844    mathsls             119            1.388889
845  mathslsse             119            1.388889

[661 rows x 3 columns]

In [247]:
# Drop the row where the 'Variable' column contains the value 'mma5rcp2'
filtered_summary_df = filtered_summary_df[filtered_summary_df['Percentage Missing'] <= 45]

In [248]:
filtered_summary_df

      Variable  Missing Values  Percentage Missing
18     mma5ap3             222            2.591036
19     MMagep3             235            2.742764
20    mma5rmp3             222            2.591036
21    mma5rcp3             222            2.591036
22   mma5pesp3             222            2.591036
..         ...             ...                 ...
841    mathatt             119            1.388889
842   mathcorr             119            1.388889
843    mathpct             119            1.388889
844    mathsls             119            1.388889
845  mathslsse             119            1.388889

[472 rows x 3 columns]

In [249]:
filtered_summary_df['Percentage Missing'].max()

44.92296918767507

In [250]:
# Now calculate how many derived variables are missing.

In [251]:
# Assuming derived_variable_names is the array of variable names you provided
# filtered_summary_df is the DataFrame containing the variable summary information

# Get the list of variables from the 'Variable' column in filtered_summary_df
available_variables = filtered_summary_df['Variable'].tolist()

# Find the variables present in the derived_variable_names array
present_variables = [var_name for var_name in derived_variable_names if var_name in available_variables]

# Print the list of variables found present
print(present_variables)

['Pianta_conflict_PCG', 'Pianta_positive_PCG', 'Pianta_dependence_PCG', 'Pianta_conflict_SCG', 'Pianta_positive_SCG', 'Pianta_dependence_SCG', 'srBMI_pcg', 'srBMI_pcg_rec', 'srBMI_scg', 'srBMI_scg_rec', 'intBMI_pcg', 'intBMI_pcg_rec', 'intBMI_scg', 'intBMI_scg_rec']

In [252]:
#Example checking

In [253]:
# Assuming filtered_summary_df is the DataFrame containing the variable summary information

# Filter the DataFrame to include only rows where 'Variable' column contains 'intBMI_scg_rec'
intBMI_scg_rec_rows = filtered_summary_df[filtered_summary_df['Variable'].str.contains('intBMI_scg_rec')]

# Print the rows
print(intBMI_scg_rec_rows)

           Variable  Missing Values  Percentage Missing
560  intBMI_scg_rec            1807           21.090103

In [254]:
#Now performing logistic regression to find out the p value to know how many variables are significant to predict
# the missingness

In [255]:
df

,ID,Wgt_9yr,Gross_9yr,Partner,Int_type,MMA2,MMA3,MMA4,mma5ap1,MMagep1,...,mathclass,mathatt,mathcorr,mathpct,mathsls,mathslsse,tchonchild,tchonself,prin,Drum
0,1000,0.298201,1.966325,0,2,2,1,2,2,32,...,2,30,5,16.67,-2.706493,.384025,1,1,1,1
1,2000,1.854868,12.230916,0,2,2,1,2,2,45,...,2,30,8,26.67,-2.304101,.357167,1,1,1,1
2,3000,1.076434,7.097959,0,2,2,1,2,2,29,...,3,25,13,52,-.76845,.3557,1,1,1,1
3,4000,0.859508,5.667559,0,2,2,1,2,2,48,...,3,25,9,36,-1.257998,.358395,1,1,1,1
4,5000,0.889420,5.864798,0,2,2,1,2,2,33,...,3,25,22,88,1.021827,.49471,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8563,8564000,1.069985,7.055432,1,1,1,1,7,1,50,...,4,25,12,48,-.36249,.309341,0,0,1,1
8564,8565000,1.038689,6.849069,1,1,2,1,7,2,42,...,3,25,20,80,.3478,.41676,1,1,1,1
8565,8566000,0.369197,2.434466,1,3,2,1,7,2,50,...,3,25,18,72,.019648,.389646,1,1,1,1
8566,8567000,0.328610,2.166839,1,1,2,1,7,2,44,...,3,25,6,24,-1.759458,.381039,1,1,1,1
8567,8568000,0.200535,1.322316,1,1,2,1,7,2,44,...,3,25,9,36,-1.180241,.356702,0,0,1,1

In [256]:
all_missing_variables = filtered_summary_df['Variable'].to_numpy()

In [257]:
missing_var = df[all_missing_variables]

In [258]:
avail_var = df[columns_without_missing_values]

In [259]:
missing_var

,mma5ap3,MMagep3,mma5rmp3,mma5rcp3,mma5pesp3,mma5ap4,MMagep4,mma5rmp4,mma5rcp4,mma5pesp4,...,readcorr,readpct,readingls,readinglsse,mathclass,mathatt,mathcorr,mathpct,mathsls,mathslsse
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,18,50,-1.301237,.230848,2,30,5,16.67,-2.706493,.384025
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8,22.22,-2.229873,.239548,2,30,8,26.67,-2.304101,.357167
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,28,70,.177569,.282257,3,25,13,52,-.76845,.3557
3,NaN,50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27,67.5,.022658,.267656,3,25,9,36,-1.257998,.358395
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,37,92.5,1.385455,.420272,3,25,22,88,1.021827,.49471
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8563,2,42,1,3,3,2,10,7,11,2,...,40,100,2.869168,.488557,4,25,12,48,-.36249,.309341
8564,1,41,1,3,3,1,10,7,11,2,...,37,92.5,1.540302,.440716,3,25,20,80,.3478,.41676
8565,1,50,1,3,3,2,24,7,11,3,...,34,85,1.038333,.376754,3,25,18,72,.019648,.389646
8566,1,48,1,3,3,2,28,17,16,5,...,19,47.5,-.695981,.217108,3,25,6,24,-1.759458,.381039
8567,1,45,1,3,3,2,11,7,11,2,...,17,42.5,-.94078,.210706,3,25,9,36,-1.180241,.356702

In [260]:
avail_var

,ID,Wgt_9yr,Gross_9yr,Partner,Int_type,MMA2,MMA3,MMA4,mma5ap1,MMagep1,...,kidmain,kidcore,kidM,kidD,kidMP,PiersHarris,tchonchild,tchonself,prin,Drum
0,1000,0.298201,1.966325,0,2,2,1,2,2,32,...,1,1,1,0,0,1,1,1,1,1
1,2000,1.854868,12.230916,0,2,2,1,2,2,45,...,1,1,1,1,0,1,1,1,1,1
2,3000,1.076434,7.097959,0,2,2,1,2,2,29,...,1,1,1,1,0,1,1,1,1,1
3,4000,0.859508,5.667559,0,2,2,1,2,2,48,...,1,1,1,0,0,1,1,1,1,1
4,5000,0.889420,5.864798,0,2,2,1,2,2,33,...,1,1,1,0,0,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8563,8564000,1.069985,7.055432,1,1,1,1,7,1,50,...,1,1,1,1,0,1,0,0,1,1
8564,8565000,1.038689,6.849069,1,1,2,1,7,2,42,...,1,1,1,1,0,1,1,1,1,1
8565,8566000,0.369197,2.434466,1,3,2,1,7,2,50,...,1,1,1,1,0,1,1,1,1,1
8566,8567000,0.328610,2.166839,1,1,2,1,7,2,44,...,1,1,1,1,0,1,1,1,1,1
8567,8568000,0.200535,1.322316,1,1,2,1,7,2,44,...,1,1,1,1,0,1,0,0,1,1

In [261]:
avail_var_copy = avail_var.copy()

In [262]:
avail_var.drop('ID', axis=1, inplace=True)

/var/folders/61/jy4h4rt97fb5yxkl1z6v7ll00000gn/T/ipykernel_1460/3596509381.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  avail_var.drop('ID', axis=1, inplace=True)

In [221]:
avail_var

,Wgt_9yr,Gross_9yr,Partner,Int_type,MMA2,MMA3,MMA4,mma5ap1,MMagep1,mma5rcp1,...,kidmain,kidcore,kidM,kidD,kidMP,PiersHarris,tchonchild,tchonself,prin,Drum
0,0.298201,1.966325,0,2,2,1,2,2,32,3,...,1,1,1,0,0,1,1,1,1,1
1,1.854868,12.230916,0,2,2,1,2,2,45,3,...,1,1,1,1,0,1,1,1,1,1
2,1.076434,7.097959,0,2,2,1,2,2,29,3,...,1,1,1,1,0,1,1,1,1,1
3,0.859508,5.667559,0,2,2,1,2,2,48,3,...,1,1,1,0,0,1,1,1,1,1
4,0.889420,5.864798,0,2,2,1,2,2,33,3,...,1,1,1,0,0,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8563,1.069985,7.055432,1,1,1,1,7,1,50,3,...,1,1,1,1,0,1,0,0,1,1
8564,1.038689,6.849069,1,1,2,1,7,2,42,3,...,1,1,1,1,0,1,1,1,1,1
8565,0.369197,2.434466,1,3,2,1,7,2,50,3,...,1,1,1,1,0,1,1,1,1,1
8566,0.328610,2.166839,1,1,2,1,7,2,44,3,...,1,1,1,1,0,1,1,1,1,1
8567,0.200535,1.322316,1,1,2,1,7,2,44,3,...,1,1,1,1,0,1,0,0,1,1

In [222]:
dff =  pd.DataFrame()

In [223]:
dff['missing_life_outcome'] = missing_var['mma5ap3'].isnull()

In [224]:
dff

      missing_life_outcome
0                     True
1                     True
2                     True
3                     True
4                     True
...                    ...
8563                 False
8564                 False
8565                 False
8566                 False
8567                 False

[8568 rows x 1 columns]

In [ ]:
#Now i will perform the steps like Univariate analysis, then multivariate anaylsis, then regularisation,

In [263]:
univariate_results = []

In [268]:
missing_var.iloc[:,0]

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
8563      2
8564      1
8565      1
8566      1
8567      1
Name: mma5ap3, Length: 8568, dtype: object

In [269]:
outcome = missing_var.iloc[:,0].isnull()

In [270]:
outcome

0        True
1        True
2        True
3        True
4        True
        ...
8563    False
8564    False
8565    False
8566    False
8567    False
Name: mma5ap3, Length: 8568, dtype: bool

In [271]:
avail_var

,Wgt_9yr,Gross_9yr,Partner,Int_type,MMA2,MMA3,MMA4,mma5ap1,MMagep1,mma5rcp1,...,kidmain,kidcore,kidM,kidD,kidMP,PiersHarris,tchonchild,tchonself,prin,Drum
0,0.298201,1.966325,0,2,2,1,2,2,32,3,...,1,1,1,0,0,1,1,1,1,1
1,1.854868,12.230916,0,2,2,1,2,2,45,3,...,1,1,1,1,0,1,1,1,1,1
2,1.076434,7.097959,0,2,2,1,2,2,29,3,...,1,1,1,1,0,1,1,1,1,1
3,0.859508,5.667559,0,2,2,1,2,2,48,3,...,1,1,1,0,0,1,1,1,1,1
4,0.889420,5.864798,0,2,2,1,2,2,33,3,...,1,1,1,0,0,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8563,1.069985,7.055432,1,1,1,1,7,1,50,3,...,1,1,1,1,0,1,0,0,1,1
8564,1.038689,6.849069,1,1,2,1,7,2,42,3,...,1,1,1,1,0,1,1,1,1,1
8565,0.369197,2.434466,1,3,2,1,7,2,50,3,...,1,1,1,1,0,1,1,1,1,1
8566,0.328610,2.166839,1,1,2,1,7,2,44,3,...,1,1,1,1,0,1,1,1,1,1
8567,0.200535,1.322316,1,1,2,1,7,2,44,3,...,1,1,1,1,0,1,0,0,1,1

In [283]:
univariate_results = []

In [273]:
a = sm.Logit(outcome, sm.add_constant(avail_var['Wgt_9yr'])).fit(disp=0)

In [278]:
a.pvalues[1]<=0.05

True

In [281]:
columns_without_missing_values = columns_without_missing_values[1:]

In [285]:
columns_with_missing_values

Index(['mma5rmp1', 'mma5rcp2', 'mma5ap3', 'MMagep3', 'mma5rmp3', 'mma5rcp3',
       'mma5pesp3', 'mma5ap4', 'MMagep4', 'mma5rmp4',
       ...
       'readcorr', 'readpct', 'readingls', 'readinglsse', 'mathclass',
       'mathatt', 'mathcorr', 'mathpct', 'mathsls', 'mathslsse'],
      dtype='object', length=661)

In [284]:
for i in columns_with_missing_values:
    model = sm.Logit(outcome, sm.add_constant(avail_var[i])).fit(disp=0)
    univariate_results.append((column, model.pvalues[1]))

KeyError: 'mma5rmp1'

In [ ]:
for column in df.columns:
    if column != 'outcome':
        model = sm.Logit(df['outcome'], sm.add_constant(df[column])).fit(disp=0)
        univariate_results.append((column, model.pvalues[1]))